<section data-ng-controller="HomeController">
	<div class="jumbotron text-center">
		<div class="row">
			<div>
				<h1>PORP</h1>
				<h3>Interactive support of knowlege workers in a wiki-based process environnement</h3>
			</div>
		</div>
		<div class="row">
			<p ng-if="authentication.user">
				Welcome {{ authentication.user.firstName }} {{ authentication.user.lastName }}!
			</p>
			<p ng-if="!authentication.user">
				Please sign in or sign up to use the tool.
			</p>
			<p>
				<a ng-if="authentication.user" class="btn btn-primary btn-lg" href="/#!/processs/worker">Start application</a>
				<a ng-if="!authentication.user" class="btn btn-primary btn-lg" href="/#!/signin">Sign in</a>
				<a ng-if="!authentication.user" class="btn btn-primary btn-lg" href="/#!/signup">Sign up</a>
			</p>

		</div>
	</div>


</section>
