<section data-ng-controller="ArtifactsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Artifacts</h1>
    </div>
    <div class="list-group">
        <div data-ng-repeat="artifact in artifacts" data-ng-href="#!/artifacts/{{artifact._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="artifact.created | date:'medium'"></span>
				by
				<span data-ng-bind="artifact.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="artifact.name"></h4>

			<span class="pull-right" style="margin-top:-40px">
				<a class="btn btn-primary" href="/#!/artifacts/{{artifact._id}}/edit">
					<i class="glyphicon glyphicon-edit"></i>
				</a>
				<a class="btn btn-primary" data-ng-click="remove(artifact);">
					<i class="glyphicon glyphicon-trash"></i>
				</a>
			</span>
        </div>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!artifacts.$resolved || artifacts.length">
    	No Artifacts yet, why don't you <a href="/#!/artifacts/create">create one</a>?
    </div>
</section>
